
<div id="welcome-text">Welcome to Staunch Service Management</div>
<div id="sub-text">To serve you right is what we need!</div>
<a routerLink="/raise-issue"><button nz-button nzType="primary" id="raise-issue-button" >Raise an Issue!</button></a>

<!-- <a routerLink="/home"
  ><button nz-button nzType="primary" id="button">View Request</button></a
>
<br />
<a routerLink="/Resource"
  ><button nz-button nzType="primary" id="button">Resolve Request</button></a
>
<br />
<a routerLink="/allocate"
  ><button nz-button nzType="primary" id="button">
    Allocate To Resolve
  </button></a -->
>